.close {
    font-size: 1rem;
}

body {
    background-color: rgb(100, 100, 100);
}

.navbar {
    background-color: rgb(53, 53, 53);
}

.navbar-toggler-icon {
    color: aliceblue;
}

.dropdown-menu {
    background-color: rgb(53, 53, 53);
}

.nav-link-menu-item {
    color: aliceblue;
}

.nav-link-menu-item:hover {
    color: gold;
    background-color: rgb(53, 53, 53);
}

.navbar-brand {
    color: gold;
}

.nav-pin-text {
    color: rgb(230, 70, 70);
    cursor: pointer;
}

.card {
    background-color: rgb(80, 80, 80);
    color: aliceblue;
    overflow: hidden;
}

.btn-primary {
    background-color: rgb(80, 80, 80);
    border: 1px solid gold;
    color: gold;
}

.btn-primary:active {
    background-color: rgb(80, 80, 80);
    border: 1px solid gold;
    color: gold;
}

.btn-primary:focus {
    background-color: rgb(80, 80, 80);
    border: 1px solid gold;
    color: gold;
}

.btn-primary:hover {
    background-color: rgb(100,100,100);
    border: 1px solid gold;
    color: gold;
}

.close {
    color: aliceblue;
    font-size: 1.5rem;
}

.close:hover {
    color: gold;
}

.file-input {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.qr-code {
    margin-top: 10px;
    float: right;
}

#intro-div {
    color: aliceblue;
    background-color: transparent;
    width: 100%;
}

#intro-div-sub {
    width: 50%;
    background-color: rgb(80, 80, 80);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#intro-div-sub>h5 {
    font-weight: normal;
    color: rgb(210, 210, 210);
}

.close-intro-btn {
    float:right;
    background-color: transparent;
    font-size: 4rem;
    color: gold;
    padding: 0px;
    line-height: 50px;
}

.close-intro-btn:hover {
    float:right;
    background-color: transparent;
    font-size: 4rem;
    color: goldenrod;
    text-decoration: none;
}